// variables

//paleta de colores

$color-principal: teal;
$color-empresa: white;
$color-banner: yellow;
$color-ti: red;
$color-wsp: green;
$color-general: black;

// tamaño título propuestas

.card-title{
    font-size: 20px;
}







